{:deps {:aliases [:shadow]}
 :builds
 {:fs-browser
  {:target     :browser
   :output-dir "test/browser/.tmp/js"
   :asset-path "/js"
   :modules    {:fs-demo {:entries [kuro.fs-browser-demo]}}
   :release    {:compiler-options {:optimizations :simple}}}}}
