{:deps {:aliases [:shadow]}
 :builds
 {:fs-browser
  {:target     :browser
   :output-dir "test/browser/.tmp/js"
   :asset-path "/js"
   :modules    {:base    {:entries [kuro.browser-base]}
                 :fs-cap  {:entries [kuro.fs-cap-demo] :depends-on #{:base} :default true}
                 :fs-demo {:entries [kuro.fs-browser-demo] :depends-on #{:base}}}
   :release    {:compiler-options {:optimizations :simple}}}}}
